*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
  font-weight: 400;
}

main, section, header {
  width: 100%;
}

div.wrapper, nav {
  max-width: 75%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

button, select {
  border: none;
  outline: none;
}

.rise {
  -webkit-animation-name: rise;
          animation-name: rise;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: .6;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: .6;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

.menu {
  position: absolute;
  color: #252625;
  left: 0;
  top: 105%;
  width: 200px;
  background: #F2F2F2;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: default;
}

.menu li {
  position: relative;
  padding: 12px;
  margin: 0px;
}

.menu li span[class*=right] {
  position: absolute;
  right: 16px;
}

.menu li:hover {
  cursor: pointer;
}

.menu .menu {
  top: 0;
  left: 110%;
}

#info-top {
  background: #4285F4;
  color: #F2F2F2;
  font-size: 0.9rem;
}

#info-top #wrapper {
  padding: 20px 0;
}

#info-top #wrapper h3 {
  float: right;
  margin-right: 20px;
}

#info-top #wrapper .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

#info-top #wrapper a {
  display: inline-block;
  position: relative;
  color: #F2F2F2;
  font-weight: bold;
}

#info-top #wrapper a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #F2F2F2;
  left: 0;
  bottom: -4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#info-top #wrapper a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#info-top #wrapper h3.location {
  float: left;
}

#info-top #wrapper h3.location .icon {
  background-image: url("../images/map.svg");
}

#info-top #wrapper h3.email .icon {
  background-image: url("../images/send.svg");
}

#info-top #wrapper h3.contactNumber .icon {
  background-image: url("../images/phone.svg");
}

#info-top .wrapper:after {
  clear: both;
  display: table;
  content: "";
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F2F2F2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav h1 {
  color: #252625;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 16px 0;
  padding: 8px;
  white-space: nowrap;
}

header nav h1 #O {
  display: inline-block;
  background-image: url("../images/logo.svg");
  background-position-y: bottom;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: cover;
}

header nav .middle, header nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .middle > li, header nav .right > li {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav .middle > li span[class*=down], header nav .right > li span[class*=down] {
  color: #4285F4;
}

header nav .middle > li .label, header nav .right > li .label {
  display: inline-block;
  margin: 0 4px;
}

header nav .middle #demos .menu {
  width: 100%;
  padding: 16px;
  background-color: #252625;
}

header nav .middle #demos li {
  width: 15.5%;
  border-radius: 16px;
  border: 2px solid white;
  height: 150px;
  float: left;
  margin: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav .middle #demos li:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

header nav .middle #pages, header nav .middle #projects, header nav .middle #blog, header nav .middle #blocks {
  position: relative;
}

header nav .middle #documentation .menu {
  width: 100%;
  padding: 16px;
}

header nav .middle #documentation .menu .container {
  width: 33%;
  float: left;
  clear: both;
  display: table;
  content: "";
}

header nav .middle #documentation .menu .label {
  color: #4285F4;
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
}

header nav .middle #documentation .menu #usage, header nav .middle #documentation .menu #styleguide {
  width: 100%;
  padding: 12px 0;
  clear: both;
  display: table;
  content: "";
}

header nav .middle #documentation .menu #usage li, header nav .middle #documentation .menu #styleguide li {
  width: 40%;
  float: left;
}

header nav .middle #documentation .menu #elements {
  padding: 16px;
  float: left;
  width: 66%;
}

header nav .middle #documentation .menu #elements li {
  width: 33.33%;
  float: left;
}

header nav .middle #documentation .menu .vl {
  height: 90%;
  top: 50%;
  border-left: 1px solid #252625;
  position: absolute;
  left: 31%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav .right {
  margin: 0;
}

header nav .right #lang {
  position: relative;
}

header nav .right .contact {
  background-color: #4285F4;
  border-radius: 32px;
  color: #F2F2F2;
  padding: 14px 25px;
  font-size: 1.2rem;
}
