*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  color: #252625;
}

main, section, header {
  width: 100%;
}

main section {
  padding: 5% 0;
}

@media only screen and (min-width: 1280px) {
  nav {
    position: relative;
  }
}

.wrapper, nav {
  margin: 0 auto;
  width: 95%;
}

@media only screen and (min-width: 480px) {
  .wrapper, nav {
    width: 90%;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper, nav {
    width: 75%;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

button, select {
  border: none;
  outline: none;
}

.rise {
  -webkit-animation-name: rise;
          animation-name: rise;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.underline {
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.underline:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #252625;
  left: 0;
  bottom: -4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.underline:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: .6;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: .6;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

.button {
  display: inline-block;
  background-color: #4285F4;
  border-radius: 32px;
  color: #F2F2F2;
  padding: 18px 20px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.void {
  background-color: #F2F2F2;
  color: #4285F4;
  border: 3px solid #4285F4;
  padding: 16px 20px;
}

.void:hover {
  background-color: #4285F4;
  color: #F2F2F2;
}

.button:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

span[class*=bars], span[class*=times] {
  font-size: 1.5rem;
  display: inline-block;
  padding: 12px;
  color: #4285F4;
}

@media only screen and (min-width: 1024px) {
  span[class*=bars], span[class*=times] {
    display: none;
  }
}

span[class*=down] {
  color: #4285F4;
}

.menu {
  position: absolute;
  display: none;
  color: #252625;
  left: 0;
  width: 100%;
  background: #F2F2F2;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 99;
}

@media only screen and (min-width: 1024px) {
  .menu {
    top: 56px;
  }
}

.menu li {
  position: relative;
  padding: 16px;
  text-align: left;
}

.menu li span {
  margin: 0 auto;
  cursor: pointer;
}

.menu li span[class*=right] {
  position: absolute;
  right: 16px;
}

.menu li:hover {
  color: #4285F4;
  cursor: pointer;
}

.menu .menu {
  top: 0;
  left: 110%;
}

.logo {
  color: #252625;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 16px 0;
  padding: 8px;
  white-space: nowrap;
}

.logo #O {
  display: inline-block;
  background-image: url("../images/logo.svg");
  background-position-y: bottom;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

#info-top {
  background: #4285F4;
  color: #F2F2F2;
  font-size: 1.2rem;
  margin-bottom: 0;
}

#info-top #wrapper {
  padding: 8px 0;
}

#info-top #wrapper h3 {
  width: 100%;
  text-align: center;
  padding: 1%;
}

@media only screen and (min-width: 769px) {
  #info-top #wrapper h3 {
    width: auto;
    float: right;
  }
}

#info-top #wrapper a {
  display: inline-block;
  color: #F2F2F2;
}

#info-top #wrapper a:after {
  background-color: #F2F2F2;
}

#info-top #wrapper .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

#info-top #wrapper h3.location {
  float: left;
}

#info-top #wrapper h3.location .icon {
  background-image: url("../images/map.svg");
}

#info-top #wrapper h3.email .icon {
  background-image: url("../images/send.svg");
}

#info-top #wrapper h3.contactNumber .icon {
  background-image: url("../images/phone.svg");
}

#info-top .wrapper:after {
  clear: both;
  display: table;
  content: "";
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F2F2F2;
  margin-top: 0;
  z-index: 999;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav h1 {
  font-size: 2.5rem;
}

header nav .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #BFBFBF;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 1024px) {
  header nav .middle {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 60%;
    height: auto;
    background-color: #F2F2F2;
  }
}

@media only screen and (min-width: 1280px) {
  header nav .middle {
    max-width: 55%;
  }
}

header nav .middle .label {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

header nav .middle li {
  margin: 0 auto;
  white-space: nowrap;
}

header nav .middle #demos .menu {
  padding: 32px;
  background-color: #1C3240;
}

header nav .middle #demos li {
  float: left;
  padding: 0;
  width: 14.66666%;
  margin: 1%;
}

header nav .middle #demos li img {
  border-radius: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

header nav .middle #demos li img:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

header nav .middle #pages, header nav .middle #projects, header nav .middle #blog, header nav .middle #blocks {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  header nav .middle #pages .menu, header nav .middle #projects .menu, header nav .middle #blog .menu, header nav .middle #blocks .menu {
    width: 200px;
  }
}

header nav .middle #documentation {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

header nav .middle #documentation .menu {
  padding: 16px;
}

header nav .middle #documentation .menu .doc-left {
  width: 33%;
  float: left;
}

header nav .middle #documentation .menu .label {
  color: #4285F4;
  display: inline-block;
  cursor: default;
  width: 100%;
  margin: 0;
  font-size: 1.3rem;
}

header nav .middle #documentation .menu li {
  float: left;
  padding-left: 0;
}

header nav .middle #documentation .menu #usage, header nav .middle #documentation .menu #styleguide {
  width: 100%;
  padding: 12px 0;
  clear: both;
  display: table;
  content: "";
}

header nav .middle #documentation .menu #usage li, header nav .middle #documentation .menu #styleguide li {
  width: 40%;
}

header nav .middle #documentation .menu #elements {
  padding: 12px 0;
  float: left;
  width: 66%;
}

header nav .middle #documentation .menu #elements li {
  width: 33.33%;
}

header nav .middle #documentation .menu .vl {
  height: 90%;
  top: 50%;
  border-left: 1px solid #252625;
  position: absolute;
  left: 31%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav .middle .label {
  display: inline-block;
  margin: 0 4px;
}

header nav .middle span[class*=down] {
  position: absolute;
  left: 0;
}

@media only screen and (min-width: 1024px) {
  header nav .middle span[class*=down] {
    position: static;
  }
}

header nav .middle span[class*=times] {
  position: absolute;
  right: 15px;
  top: 15px;
}

header nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .right #lang {
  margin-right: 12px;
  float: left;
  position: relative;
  white-space: nowrap;
}

header nav .right #lang span {
  padding: 10px 0;
}

header nav .right #lang span.label {
  cursor: pointer;
}

header nav .right #lang li {
  padding: 0;
}

header nav .right #lang li span {
  display: block;
  text-align: center;
  width: 100%;
}

header nav .right #contact {
  display: none;
}

header nav .right #contact .button {
  display: block;
  padding: 12px 24px;
}

@media only screen and (min-width: 1024px) {
  header nav .right #contact {
    display: block;
  }
}

#hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  #hero .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  #hero .wrapper .text {
    width: 100%;
    padding-right: 100px;
  }
}

#hero .wrapper .text h1 {
  color: #424141;
  padding: 32px 0;
  font-size: 3.5rem;
  font-family: serif;
}

#hero .wrapper .text p {
  color: #424141;
  font-size: 2rem;
  padding: 32px 0;
}

#hero .wrapper .text div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  #hero .wrapper .text div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

#hero .wrapper .text .buttons {
  margin-bottom: 15%;
}

@media only screen and (min-width: 1024px) {
  #hero .wrapper .text .buttons {
    margin-bottom: 0;
  }
}

#hero .wrapper .text .buttons .button {
  font-size: 1.3rem;
  margin: 12px 8px;
}

#hero .wrapper .hero-image-container {
  padding: 0;
  position: relative;
  width: 75%;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  #hero .wrapper .hero-image-container {
    width: 100%;
  }
}

#hero .wrapper .hero-image-container .hero-image {
  display: inline-block;
  margin: 0;
  width: 100%;
  border-radius: 0 24px 24px 24px;
}

#hero .wrapper .hero-image-container .top-left, #hero .wrapper .hero-image-container .bottom-right {
  position: absolute;
  z-index: -1;
}

#hero .wrapper .hero-image-container .top-left {
  width: 20%;
  top: -7%;
  left: -7%;
}

#hero .wrapper .hero-image-container .bottom-right {
  width: 90%;
  right: -7%;
  bottom: -7%;
}

#customers .wrapper span {
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  padding: 12px;
  width: 100%;
  margin: 0 auto;
  color: #9c9c9c;
}

@media only screen and (min-width: 768px) {
  #customers .wrapper span {
    width: 16%;
    padding: 0;
  }
}

#service .wrapper h4, #service .wrapper h2 {
  text-align: center;
}

#service .wrapper h4 {
  font-size: 1.2rem;
  color: #858383;
  font-weight: 500;
}

#service .wrapper h2 {
  font-size: 2.5rem;
  padding: 16px 0;
  color: #424141;
}

@media only screen and (min-width: 1024px) {
  #service .wrapper .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#service .wrapper .row .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

@media only screen and (min-width: 1024px) {
  #service .wrapper .row .col-3 {
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

#service .wrapper .row .col-3 .thumb {
  margin-top: 0;
}

#service .wrapper .row .col-3 .thumb span {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  margin: 16px;
  border-radius: 50%;
  background-color: #4285F4;
  color: #F2F2F2;
}

@media only screen and (min-width: 1024px) {
  #service .wrapper .row .col-3 .thumb span {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
}

#service .wrapper .row .col-3 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (min-width: 1024px) {
  #service .wrapper .row .col-3 .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#service .wrapper .row .col-3 .text h3, #service .wrapper .row .col-3 .text p, #service .wrapper .row .col-3 .text a {
  text-align: left;
  padding: 12px 0;
}

@media only screen and (min-width: 1024px) {
  #service .wrapper .row .col-3 .text h3, #service .wrapper .row .col-3 .text p, #service .wrapper .row .col-3 .text a {
    text-align: center;
  }
}

#service .wrapper .row .col-3 .text h3 {
  white-space: nowrap;
  font-size: 1.5rem;
}

#service .wrapper .row .col-3 .text p {
  line-height: 1.5;
}

#service .wrapper .row .col-3 .text a {
  padding-bottom: 0;
  color: #4285F4;
}

#service .wrapper .row .col-3 .text a:after {
  background-color: #4285F4;
}

#service .wrapper .row .col-3 .icon-right {
  padding-left: 4px;
  vertical-align: middle;
}

#steps .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  #steps .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#steps .wrapper .hero-image-container {
  margin-bottom: 100px;
  padding: 0;
  position: relative;
  width: 75%;
  height: auto;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  #steps .wrapper .hero-image-container {
    margin-bottom: 0;
    width: 130%;
  }
}

#steps .wrapper .hero-image-container .hero-image {
  display: inline-block;
  margin: 0;
  width: 100%;
  border-radius: 24px;
}

#steps .wrapper .hero-image-container .top-left, #steps .wrapper .hero-image-container .bottom-right {
  position: absolute;
  z-index: -1;
}

#steps .wrapper .hero-image-container .top-left {
  width: 30%;
  top: -10%;
  left: -10%;
}

#steps .wrapper .hero-image-container .bottom-right {
  width: 90%;
  right: -7%;
  bottom: -7%;
}

#steps .wrapper .text {
  padding: 0 8%;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  #steps .wrapper .text {
    width: 100%;
    padding-right: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

#steps .wrapper .text h2 {
  font-size: 2.5rem;
  padding-bottom: 8%;
}

#steps .wrapper .text h3 {
  padding-bottom: 5%;
  font-size: 1.5rem;
  color: #858383;
}

#steps .wrapper .text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  #steps .wrapper .text ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 5% 0;
  }
}

#steps .wrapper .text ul .thumb {
  text-align: center;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: #4285F4;
  border-radius: 50%;
}

#steps .wrapper .text ul .thumb span {
  font-size: 1.4rem;
  color: #F2F2F2;
}

#steps .wrapper .text ul .step h4, #steps .wrapper .text ul .step p {
  padding: 5%;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #steps .wrapper .text ul .step h4, #steps .wrapper .text ul .step p {
    text-align: left;
    padding-top: 0;
    padding-right: 0;
  }
}

#steps .wrapper .text ul .step h4 {
  font-size: 1.5rem;
}

#steps .wrapper .text ul .step p {
  color: #858383;
}
