#info-top
  background: $blue
  color: $white
  font-size: 0.9rem

  #wrapper
    padding: 20px 0
    h3 
      float: right
      margin-right: 20px
      
    .icon
      display: inline-block
      background-repeat: no-repeat
      background-size: cover
      vertical-align: middle
      height: 30px
      width: 30px

    h3.location
      float: left

      .icon
        background-image: url('../images/map.svg')
        
    h3.email

      .icon
        background-image: url('../images/send.svg')
        
    h3.contactNumber
      
      .icon
        background-image: url('../images/phone.svg')

  .wrapper:after
    @include clearFix