#projects
	.wrapper
		@include mq(1024px)
			width: 95%
		.swiper

			div.swiper-slide
				cursor: grab

				img
					display: block
					width: 100%
					object-fit: cover
					user-select: none
					border-radius: 16px
					
				a
					position: absolute
					display: block
					line-height: 3
					text-align: center
					opacity: 0
					right: 0
					bottom: 8%
					background: rgba(255, 255, 255, 0.5)
					width: 3rem
					height: 3rem
					border-radius: 50%
					transition: 0.4s ease-out
					
			.swiper-slide:hover a
				right: 8%
				opacity: 1

			div[class*="swiper-button"]
				transform: translateY(-50%)
				background-color: $white
				color: $black
				width: 2.5rem
				height: 2.5rem
				border-radius: 50%
				font-size: 1rem

			div[class*="swiper-button"]::after
				display: none
    
			.swiper-pagination
				position: relative
				margin-top: 24px
	
	h2,h3
		text-align: center
		padding-bottom: 3rem

	h2
		font-size: 0.9rem
		color: $gray

	h3
		font-size: 2rem
		color: $black