.button
  display: inline-block
  background-color: $blue
  border-radius: 32px
  color: $white
  padding: 18px 20px
  font-weight: bold
  transition: 0.3s
  white-space: nowrap

.void
  background-color: $white
  color: $blue
  border: 3px solid $blue
  padding: 16px 20px

.void:hover
  background-color: $blue
  color: $white

.button:hover
  transform: translateY(-10%)

span[class*=bars], span[class*=times]
    font-size: 1.5rem
    display: inline-block
    padding: 12px
    color: $blue
    @include mq(1024px)
      display: none

span[class*=down]
  color: $blue