.rise
  animation-name: rise
  animation-duration: 0.3s

.fade-out
  animation-name: fade-out
  animation-duration: 0.3s

@keyframes rise
  from
    transform: translateY(3%)
    opacity: .6
  to
    transform: translateY(0)
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: .6
